<% provide(:title, 'Home') %>
<div id="main" class="clearfix">
    	<div class="center hero-unit"> 
	        <h1>Lumberjack</h1> 
	        <h2>The system admin's root cause analysis utility for servers</h2> 
	    </div>

    <aside>
        <nav>
            <ul id="menu"> <!--TODO: id="modules" -->
                <li><a href="#">Home</a></li>
                <li><a href="#">Logstash</a></li>
                <li><a href="#">Server Ping</a></li>
                <li><a href="#">Next App</a></li>
                <li><a href="#">Contact</a></li>                   
            </ul>
        </nav>
    </aside>
    
    <div id="explorer">
    	<h2>Explorer</h2>
    	<article>
    		<section></section>
    		<section></section>
    	</article>
    </div>
    
    <div id="content">
    	<h2>Content</h2>
        <article>
            <section>
                <p>Section 1: Module contents live here</p>
            </section>
            <section>
            	<p>Section 2: more module contents</p>
            </section>
        </article>
    </div>
    
</div>
