<% provide(:title, 'Home') %>
<div id="main" class="clearfix">
    <aside>
        <nav>
            <ul id="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Logstash</a></li>
                <li><a href="#">Server Ping</a></li>
                <li><a href="#">Next App</a></li>
                <li><a href="#">Contact</a></li>                   
            </ul>
        </nav>
    </aside>
    
    <div id="content">
        <article>
            <section>
                <h1><a href="http://www.red-team-design.com/css3-dropdown-menu">CSS3 Dropdown menu</a></h1>
                <figure>
                    <img src="http://www.red-team-design.com/wp-content/uploads/2011/03/css-menu.png" width="600" height="200" alt="CSS3 Dropdown menu">
                    <figcaption>Contains clean and accessible HTML structure. Javascript fix only for IE6.</figcaption>
                </figure>
            </section>
            <footer>Posted on <span>March 18th, 2011</span></footer>
        </article>
    </div>
</div>

<%= yield %>

